@font-face {
    font-family: 'Inter';
    src: url('../../fonts/InterVF.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Kollektif";
    src: local("kollektif-bold"), local("Kollektif-Bold"), url("../../fonts/Kollektif-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Kollektif";
    src: local("kollektif-regular"), local("Kollektif-Regular"), url("../../fonts/Kollektif-Regular.ttf") format("truetype");
    font-weight: 400;
}
